fastapi
uvicorn
streamlit
websocket-client
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
pypdf
pymupdf
sentence-transformers
torch
transformers
python-dotenv
pydantic
pydantic-settings
asyncio
websockets
numpy
